<div class="row">
    <div class="col-12">
        <button class="btn btn-outline-primary" style="float: right" @onclick="ToggleReadonly">@(Readonly ? "Edit" : "Readonly")</button>
    </div>
</div>
<div class="subheader">Persona</div>
<div class="row">
    @if(Readonly)
    {
        <div class="col-md-6">
            Character Name: <input value="@Model.CharacterName" class="form-control" disabled readonly />
        </div>
        <div class="col-md-6">
            Player Name: <input value="@Model.PlayerName" class="form-control" disabled readonly />
        </div>
        <div class="col-md-6">
            Career: <input value="@Model.Career" class="form-control" disabled readonly />
        </div>
        <div class="col-md-6">
            Species: <input value="@Model.Species" class="form-control" disabled readonly />
        </div>
        <div class="col-md-12">
            Specialization(s): <input value="@Model.Specialization" class="form-control" disabled readonly />
        </div>
    }
    else
    {
        <div class="col-md-6">
            Character Name: <input @bind-value="@Model.CharacterName" class="form-control" />
        </div>
        <div class="col-md-6">
            Player Name: <input @bind-value="@Model.PlayerName" class="form-control" />
        </div>
        <div class="col-md-6">
            Career: <input @bind-value="@Model.Career" class="form-control" />
        </div>
        <div class="col-md-6">
            Species: <input @bind-value="@Model.Species" class="form-control" />
        </div>
        <div class="col-md-12">
            Specialization(s): <input @bind-value="@Model.Specialization" class="form-control" />
        </div>
    }

</div>
<br />
<div class="subheader">Characteristics</div>
@if(Readonly)
{
    <div class="row">
        <ReadonlyCharacteristic Characteristic="@Model.Brawn" />
        <ReadonlyCharacteristic Characteristic="@Model.Agility" />
        <ReadonlyCharacteristic Characteristic="@Model.Intellect" />
        <ReadonlyCharacteristic Characteristic="@Model.Cunning" />
        <ReadonlyCharacteristic Characteristic="@Model.Willpower" />
        <ReadonlyCharacteristic Characteristic="@Model.Presence" />
    </div>
}
else
{
    <div class="row">
        <div class="col-md-2 characteristic">
            <div>
                <input type="number" class="form-control" @bind-value="@Model.Brawn.Value" />
            </div>
            <div>
                Brawn
            </div>
        </div>
        <div class="col-md-2 characteristic">
            <div>
                <input type="number" class="form-control" @bind-value="@Model.Agility.Value" />
            </div>
            <div>
                Agility
            </div>
        </div>
        <div class="col-md-2 characteristic">
            <div>
                <input type="number" class="form-control" @bind-value="@Model.Intellect.Value" />
            </div>
            <div>
                Intellect
            </div>
        </div>
        <div class="col-md-2 characteristic">
            <div>
                <input type="number" class="form-control" @bind-value="@Model.Cunning.Value" />
            </div>
            <div>
                Cunning
            </div>
        </div>
        <div class="col-md-2 characteristic">
            <div>
                <input type="number" class="form-control" @bind-value="@Model.Willpower.Value" />
            </div>
            <div>
                Willpower
            </div>
        </div>
        <div class="col-md-2 characteristic">
            <div>
                <input type="number" class="form-control" @bind-value="@Model.Presence.Value" />
            </div>
            <div>
                Presence
            </div>
        </div>
    </div>
}
<br />
<div class="subheader">Attributes</div>
<div class="row">
    <div class="col-md-4 card">
        <div class="row">
            <div class="col-md-6">
                @if(Readonly)
                {
                    <text>Wounds</text>
                    <div class="row">
                        <div class="col-8">
                            <input type="number" class="form-control" @bind-value="@Model.Current.Wounds" />
                        </div>
                        <div class="col-4">
                            /@Model.WoundThreshold
                        </div>
                    </div>
                }
                else
                {
                    <text>Max Wounds</text>
                    <input type="number" class="form-control" @bind-value="@Model.WoundThreshold" />
                    <br />
                    <text>Wounds</text>
                
                    <input type="number" class="form-control" @bind-value="@Model.Current.Wounds" />
                }
            </div>
            <div class="col-md-6">
                @if(Readonly)
                {
                    <text>Strain</text>
                    <div class="row">
                        <div class="col-8">
                            <input type="number" class="form-control" @bind-value="@Model.Current.Strain" />
                        </div>
                        <div class="col-4">
                            /@Model.StrainThreshold
                        </div>
                    </div>
                }
                else
                {
                    <text>Max Strain</text>
                    <input type="number" class="form-control" @bind-value="@Model.StrainThreshold" />
                    <br />
                    <text>Strain</text>
                
                    <input type="number" class="form-control" @bind-value="@Model.Current.Strain" />
                }
            </div>
        </div>
    </div>
    <div class="col-md-2 card">
        @if(Readonly)
        {
            <div class="">
                Soak @Model.Soak
                <br />
                Ranged Def. @Model.DefenseRanged
                <br />
                Melee Def. @Model.DefenseMelee
            </div>
        }
        else
        {
            <div class="row">
                <text>Soak</text><input type="number" class="form-control" @bind-value="@Model.Soak" />
            </div>
            <div class="col-md-12">
                Defense
                <div class="row">
                    <div class="col-md-6">
                        Ranged <input type="number" class="form-control" @bind-value="@Model.DefenseRanged" />
                    </div>
                    <div class="col-md-6">
                        Melee <input type="number" class="form-control" @bind-value="@Model.DefenseMelee" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-6 card">
        <div class="row">
            <div class="col-md-10">
                Critical Injuries
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline" onclick="@AddInjury">+</button>
            </div>
            <div class="col-md-12">
                @for(var i = Model.Current.CriticalInjuries.Count - 1; i >= 0; i--)
                {
                    var injury = Model.Current.CriticalInjuries[i];
                    <div class="row mb-2">
                        <div class="col-md-7">
                            Injury
                            <input type="text" class="form-control" @bind-value="injury.Name" />
                        </div>
                        <div class="col-md-4">
                            Severity <input type="number" class="form-control" @bind-value="injury.Severity" />
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-outline-danger" @onclick="() => RemoveInjury(injury)">-</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<br />
<div class="subheader">Skills</div>

<div class="row">
    @foreach(var skill in Model.Skills.Where(s => s.Type == Skill.SkillType.Combat).OrderBy(s => s.Name))
    {
        <div class="col-md-6">
            <SkillRow Readonly="Readonly" Skill="skill" />
        </div>
    }
    <hr />
    @foreach(var skill in Model.Skills.Where(s => s.Type == Skill.SkillType.General).OrderBy(s => s.Name))
    {
        <div class="col-md-6">
            <SkillRow Readonly="Readonly" Skill="skill" />
        </div>
    }
    <hr />
    @foreach(var skill in Model.Skills.Where(s => s.Type == Skill.SkillType.Knowledge).OrderBy(s => s.Name))
    {
        <div class="col-md-6">
            <SkillRow Readonly="Readonly" Skill="skill" />
        </div>
    }
</div>
@code 
{
    [Inject] public required StorageService Storage { get; set; }
    [Parameter, EditorRequired] public CharacterModel Model { get; set; } = new(true);
    public bool Readonly = true;
    public void ToggleReadonly() => Readonly = !Readonly;

    public void AddInjury()
    {
        Model.Current.CriticalInjuries.Add(new CriticalInjury
        {
            Name = "New Injury",
            Severity = 1
        });
    }

    public void RemoveInjury(CriticalInjury injury)
    {
        Model.Current.CriticalInjuries.Remove(injury);
    }
}
