@page "/help"
@using static CharacterSheet.RenderExtensions
@using System.Text.Json
@using System.Text

<h2>Help</h2>

<p>
    Markup: Some fields (such as talent descripions) support icons in the reference view.
    <br />
    Just use these codes and they will be rendered beautifully.
</p>
<MudGrid>
    <MudItem md="3">
        <table>
            <tbody>
                <tr>
                    <td>@GetIconHtml(ForceIconType.Dark).RenderWithIcons()</td>
                    <td><code>(D)</code> or <code>(Dark)</code></td>
                </tr>
                <tr>
                    <td>@GetIconHtml(ForceIconType.Light).RenderWithIcons()</td>
                    <td><code>(L)</code> or <code>(Light)</code></td>
                </tr>
                <tr>
                    <td>@GetIconHtml(ForceIconType.Split).RenderWithIcons()</td>
                    <td><code>(F)</code> or <code>(Force)</code></td>
                </tr>
            </tbody>
        </table>
    </MudItem>
    <MudItem md="3">
        <table>
            <tbody>
                <tr>
                    <td>@GetIconHtml(DieType.Boost).RenderWithIcons()</td>
                    <td><code>[B]</code> or <code>[Blue]</code></td>
                </tr>
                <tr>
                    <td>@GetIconHtml(DieType.Setback).RenderWithIcons()</td>
                    <td><code>[S]</code> or <code>[Black]</code></td>
                </tr>
                <tr>
                    <td>@GetIconHtml(DieType.Ability).RenderWithIcons()</td>
                    <td><code>[A]</code> or <code>[Green]</code></td>
                </tr>
                <tr>
                    <td>@GetIconHtml(DieType.Proficiency).RenderWithIcons()</td>
                    <td><code>[P]</code> or <code>[Yellow]</code></td>
                </tr>
                <tr>
                    <td>@GetIconHtml(DieType.Difficulty).RenderWithIcons()</td>
                    <td><code>[D]</code> or <code>[Purple]</code></td>
                </tr>
                <tr>
                    <td>@GetIconHtml(DieType.Challenge).RenderWithIcons()</td>
                    <td><code>[C]</code> or <code>[Red]</code></td>
                </tr>
                <tr>
                    <td>@GetIconHtml(DieType.Force).RenderWithIcons()</td>
                    <td><code>[F]</code> or <code>[White]</code></td>
                </tr>
            </tbody>
        </table>
    </MudItem>
    <MudItem md="3">
        <table>
            <tbody>
                <tr>
                    <td>@GetIconHtml(DieIconType.Advantage).RenderWithIcons()</td>
                    <td><code>:A:</code> or <code>:Advantage:</code></td>
                </tr>
                <tr>
                    <td>@GetIconHtml(DieIconType.Threat).RenderWithIcons()</td>
                    <td><code>:Th:</code> or <code>:Threat:</code></td>
                </tr>
                <tr>
                    <td>@GetIconHtml(DieIconType.Success).RenderWithIcons()</td>
                    <td><code>:S:</code> or <code>:Success:</code></td>
                </tr>
                <tr>
                    <td>@GetIconHtml(DieIconType.Failure).RenderWithIcons()</td>
                    <td><code>:F:</code> or <code>:Failure:</code></td>
                </tr>
                <tr>
                    <td>@GetIconHtml(DieIconType.Trimumph).RenderWithIcons()</td>
                    <td><code>:Tr:</code> or <code>:Triumph:</code></td>
                </tr>
                <tr>
                    <td>@GetIconHtml(DieIconType.Despair).RenderWithIcons()</td>
                    <td><code>:D:</code> or <code>:Despair:</code></td>
                </tr>
            </tbody>
        </table>
    </MudItem>
</MudGrid>


@code {

}
